@keyframes bounce{
    0%{
        margin-top: 25px;
    }
    25%{
        margin-top: 35px;
    }
    70%{
        margin-top: 15px;
    }
    100%{
        margin-top: 25px;
    }
    
}